@font-face {
    font-family: 'ArcadeClassic';
    src: url('../assets/fonts/ARCADECLASSIC.TTF') format('truetype');
}
  

body {
    background-color: black;
    background-image: linear-gradient(0deg, #000000 80%, #202020 20%);
    background-size: 10px 10px;
    font-family: 'ArcadeClassic', sans-serif;

    color: white;
}

.datatable {
    max-height: 500px;
    margin-bottom: 2em;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #fff #343a40;
}

.nav-link:hover {
    text-decoration: underline; /* Optionally add underline on hover */
}

.table {
    margin-bottom: 0;
}


